// bower:scss
// endbower
@font-face {
  font-family: 'Portrait Web';
  src: url('../fonts/Portrait-Regular-Web.eot');
  src: url('../fonts/Portrait-Regular-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Portrait-Regular-Web.woff') format('woff'),
  url('../fonts/Portrait-Regular-Web.ttf') format('truetype'),
  url('../fonts/Portrait-Regular-Web.svg#Portrait Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.Portrait-Regular-Web {
  font-family: 'Portrait Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font: 20px/28px 'Portrait Web', Times, serif;
}

p {
  color:#FFF;
  font-size: 18px;
}

p > a {
  position: relative;
  color: white;
  text-decoration: none;
}

p > a:hover {
  color: #792b31;
  transition: all 0.2s ease-in-out 0s;
}

p > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #792b31;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

p > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #000;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fat {
  font-weight: bold;
}

.nopadding {
  padding: 0 !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-width-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}

.orbit-timer {
  display:none;
}

.orbit-container {
  width: 100%;
  height: 100%;
}
  
.orbit-slides-container {
  width: 100%;
  height: 100% !important;
}

li {
  width: 100%;
  height: 100%;
  background-size: cover;
}

#page-content {
z-index:2;
position:relative;
}

.rotatorContent {
  text-align: center;
  .textIntro {
    font-size: 38px;
    line-height: 60px;
    color: #FFF !important; 
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
  }
}

#nav-toggle {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  left: 50%;
  margin-left: -18px;
  margin-top: -80px;
  transition: all ease .3s;
  span {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    margin-bottom: 8px;
    transition: all ease .2s;
  }
  &.active {
    margin-top: 20px;
    span:first-child {
      transform: translate(0px, 11px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:last-child {
      transform: translate(0px, -11px) rotate(-45deg);
    }
  }

}

.showLogo {
  display:none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  margin-left: -20px;
}

.navigation {
  position: fixed;
  z-index: 7;
  width: 100%;
  bottom: 0px;
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  transition: all ease 0.4s;
  background: transparent;
  transform: translateY(100%);
  &.open {
    transform: translateY(0%);
    background: black !important;
  }
}

.opening-time {
    width: 235px;
    text-align: center;
}

.address {
  margin-left: 100px;
}

#menuInfo {
  padding: 60px 0px;
}

// .open {
//   padding: 10px 0px;      
//   background: #000 !important;
//   bottom: 0px !important;
//   transition: all ease 0.5s;
// }

hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin: 2rem 0 2rem;
}
hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.custom-close {
  background-color: #000;
  margin-top: 20px;
}

@media (max-width: 1024px) { 
  .centered { 
    top: 40%;
  }
}

@media (max-width: 768px) {
.navigation {
  position: fixed;
  z-index: 7;
  width: 100%;
  bottom: -60px;
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  transition: all ease 0.4s;
}

.centered { 
  top: 40%;
}

.address {
  margin-left: 0px;
  margin-top: 20px;
}


#menuInfo {
  padding: 60px 0px;
}
}

@media only screen and (max-device-width: 480px) {
  p {
    margin-bottom: 0.45rem;
    line-height: 23px;
  }

  .opening-time {
    width: 100%;
  }

  .address {
    // padding-top: 0.25rem;
  }

  .rotatorContent .textIntro {
    font-size: 18px;
    line-height: 30px;  
  }

  .nofloat {
    float: none !important;
  }

  .navigation {
    top: 85%; 
    bottom:0;
  }

  .open {
    top: 0 !important;
    bottom:0 !important;
  }

  .address {
    margin-left: 0;
    margin-top: 0px;
  }

  .small-12 {
    text-align:center;
  }
  .reveal-modal {
      overflow-y: auto;
  }

  .marginBottom {
    margin-bottom: 25px;
  }

}

.hours div p {
  text-align: center; 
}

.days {
  float: left;
  width: 33%;
}

.now {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  a {
    color: white;
    font-size: 30px;
    border-bottom: 1px solid white;
  }
}

.avenista {
  
}